# Build directories
/docs/technical_development_guide/_build
/docs/technical_reference_guide/_build
/lib

# Measures and testing-related files
/measures/UpgradeCosts/tests/in*
/measures/UpgradeCosts/tests/*.xml

# Project-specific files
/project_national/national_baseline
/project_national/sdr_upgrades_tmy3*
/project_testing/testing_baseline
/national_baseline
/testing_baseline
/sdr_upgrades_tmy3*
/test_upgrade_name

# CSV files
/resources/buildstock.csv
/project_*/**/*.csv
!/project_*/resources/**/*.csv

# Log files
/project_*/**/*.log
buildstockbatch_crash_details.log

# Weather data
/weather

# Development environment and system files
.vscode/
.DS_Store
**/.ipynb_checkpoints/*
**/.bsq_cache/

# Data directories
**/data/*

# Python virtual environments
**/.venv/

# Python compiled files
**/*.pyc
**/__pycache__/
