.env
resstockpostproc.egg-info/
__pycache__
*.egg-info
.idea
.vscode
docs/_build
.venv
*.DS_Store
.pytest_cache
*.pyc
coverage/
.coverage
build/
.env
.history
resstockpostproc/upgrade_comparison/sdr_plots/
resstockpostproc/baseline_validation/scripts/
uv
